# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test & Build
*.test
*.out

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
env/

# System & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*.log
